.itemCard{
	width:450px;
	min-height:550px;
	background-color:white;
	box-shadow:1px 1px 4.6px 2px rgb(206,206,206);
	margin:5px;
	border-radius:5px;
	padding:5px;
	display:flex;
	flex-direction:column;
}